/* this is a comment! */ 

@import url("fineprint.css") print;

div {
  float: left;
}

    div.superdiv {
  float:right;
}

.classname 
.another-thing {
  float: left;
}

.selector-one #what,
.selector-two #what ,
.selector-three #what {
  display: none;
}

#idname {
  float: left;
  width: 50px;
  height: 50px
}

.classname .some-other-classname {
  float: none;
}

.one > .two, 
.one+.two ,
.one .two, {
  float:left;
}

#idname.classname{
  float: left;
}

#whatever:after {

}

#whowroteme { float:left; text-align:right;}

@media screen{
  #whatever {
    float:left;
  }
  
  .classname {
    float: right;
  }
}